@import "./variable.scss";

.site-main {
	margin-top: $navbar-height;
}

.site-header {
	padding: 5vw 0 10px;
	border-bottom: 1px solid var(--border-color);
	width: 100%;
	margin-bottom: 2rem;
}

.site-title {
	z-index: 10;
	margin-bottom: 0 0 1rem;
	padding: 0;
	font-size: 3rem;
}

.site-description {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 1rem;
}
